Repository visgl/deck.gl, pull requests merged in 2024-04, with the labels that each got.

#8737 [Docs] Missing details in CARTO module upgrade guide
  docs/upgrade-guide.md
Labels: doc

#8756 fix(pydeck): Pin 'jupyterlab' dependency to v3.x
  bindings/pydeck/requirements/requirements-dev.txt
Labels: pydeck

#8770 chore(react,test-utils): Remove unused 'typed' entry from package.json#files
  modules/react/package.json
  modules/test-utils/package.json
Labels: chore

#8780 fix(pydeck): Fix pydeck tooltip serialization
  bindings/pydeck/pydeck/io/html.py
Labels: pydeck

#8786 fix(pydeck-carto): Fix missing global for pydeck-carto in 8.9 release
  bindings/pydeck-carto/pydeck_carto/layer.py
  bindings/pydeck/pydeck/frontend_semver.py
  bindings/pydeck/pydeck/io/html.py
  bindings/pydeck/requirements/requirements-dev.txt
  modules/carto/bundle.ts
Labels: pydeck

#8791 feat(pydeck-carto): Implement Deck v9 sources and type validation
  bindings/pydeck-carto/README.md
  bindings/pydeck-carto/examples/scripts/carto_layer_geo_query.py
  bindings/pydeck-carto/examples/scripts/carto_layer_geo_table.py
  bindings/pydeck-carto/examples/scripts/carto_layer_geo_tileset.py
  bindings/pydeck-carto/pydeck_carto/sources.py
  bindings/pydeck-carto/requirements/requirements-dev.txt
  bindings/pydeck-carto/setup.py
  bindings/pydeck-carto/tests/test_sources.py
  bindings/pydeck/pydeck/_version.py
  modules/carto/bundle.ts
Labels: pydeck

#8806 feat(pydeck-carto): Update H3, Quadbin, and styling examples for deck.gl v9
  bindings/pydeck-carto/Makefile
  bindings/pydeck-carto/examples/scripts/carto_layer_geo_query.py
  bindings/pydeck-carto/examples/scripts/carto_layer_geo_query_param.py
  bindings/pydeck-carto/examples/scripts/carto_layer_geo_table.py
  bindings/pydeck-carto/examples/scripts/carto_layer_geo_tileset.py
  bindings/pydeck-carto/examples/scripts/carto_layer_h3_query.py
  bindings/pydeck-carto/examples/scripts/carto_layer_h3_table.py
  bindings/pydeck-carto/examples/scripts/carto_layer_h3_tileset.py
  bindings/pydeck-carto/examples/scripts/carto_layer_quadbin_query.py
  bindings/pydeck-carto/examples/scripts/carto_layer_quadbin_table.py
  bindings/pydeck-carto/examples/scripts/carto_layer_quadbin_tileset.py
  bindings/pydeck-carto/examples/scripts/carto_styles_color_bins.py
  bindings/pydeck-carto/examples/scripts/carto_styles_color_categories.py
  bindings/pydeck-carto/examples/scripts/carto_styles_color_continuous.py
  bindings/pydeck-carto/examples/scripts/hello_world.py
  bindings/pydeck-carto/pydeck_carto/sources.py
  bindings/pydeck-carto/tests/test_sources.py
Labels: feature, pydeck

#8811 chore(pydeck): Require Python 3.8+
  bindings/pydeck-carto/docs/contributing.rst
  bindings/pydeck-carto/setup.py
  bindings/pydeck/pyproject.toml
  bindings/pydeck/requirements/requirements-dev.txt
  bindings/pydeck/setup.py
  bindings/pydeck/tests/dev-containers/README.md
Labels: pydeck

#8799 fix(pydeck-carto): Restore global required by pydeck-carto
  modules/carto/bundle.ts
Labels: pydeck

#8577 feat(pydeck): support v9 in bindings
  bindings/pydeck-carto/Makefile
  bindings/pydeck-carto/README.md
  bindings/pydeck-carto/docs/changelog.rst
  bindings/pydeck-carto/docs/conf.py
  bindings/pydeck-carto/examples/scripts/carto_layer_geo_query.py
  bindings/pydeck-carto/examples/scripts/carto_layer_geo_query_param.py
  bindings/pydeck-carto/examples/scripts/carto_layer_geo_table.py
  bindings/pydeck-carto/examples/scripts/carto_layer_geo_tileset.py
  bindings/pydeck-carto/examples/scripts/carto_layer_h3_query.py
  bindings/pydeck-carto/examples/scripts/carto_layer_h3_table.py
  bindings/pydeck-carto/examples/scripts/carto_layer_h3_tileset.py
  bindings/pydeck-carto/examples/scripts/carto_layer_quadbin_query.py
  bindings/pydeck-carto/examples/scripts/carto_layer_quadbin_table.py
  bindings/pydeck-carto/examples/scripts/carto_layer_quadbin_tileset.py
  bindings/pydeck-carto/examples/scripts/carto_styles_color_bins.py
  bindings/pydeck-carto/examples/scripts/carto_styles_color_categories.py
  bindings/pydeck-carto/examples/scripts/carto_styles_color_continuous.py
  bindings/pydeck-carto/examples/scripts/hello_world.py
  bindings/pydeck-carto/pydeck_carto/__init__.py
  bindings/pydeck-carto/pydeck_carto/_version.py
  bindings/pydeck-carto/pydeck_carto/layer.py
  bindings/pydeck-carto/pydeck_carto/sources.py
  bindings/pydeck-carto/requirements/requirements-dev.txt
  bindings/pydeck-carto/setup.py
  bindings/pydeck-carto/tests/test_layer.py
  bindings/pydeck-carto/tests/test_sources.py
  bindings/pydeck/docs/CHANGELOG.rst
  bindings/pydeck/docs/conf.py
  bindings/pydeck/pydeck/_version.py
  bindings/pydeck/pydeck/frontend_semver.py
  bindings/pydeck/pyproject.toml
Labels: pydeck

#8853 docs(pydeck,pydeck-carto): Add documentation for pydeck v0.9
  bindings/pydeck-carto/README.md
  bindings/pydeck-carto/docs/changelog.rst
  bindings/pydeck-carto/docs/index.rst
  bindings/pydeck-carto/docs/installation.rst
  bindings/pydeck-carto/docs/layer.rst
  bindings/pydeck-carto/docs/layers.rst
  bindings/pydeck-carto/docs/sources.rst
  bindings/pydeck-carto/docs/styles.rst
  bindings/pydeck-carto/pydeck_carto/sources.py
  bindings/pydeck/docs/CHANGELOG.rst
  bindings/pydeck/docs/binary_transfer.rst
  bindings/pydeck/docs/event_handling.rst
  bindings/pydeck/docs/installation.rst
  bindings/pydeck/docs/jupyter.rst
Labels: doc, pydeck
